<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lalezar|Roboto" rel="stylesheet"/>
</head>
<body>
<div style="display: block;">
	    <div class="message-box" id="modal">
	    	<div class="message-wrapper">
	    		<div class="message">
	    			<h2><img src="img/errorIcon.png"/></h2>
	    			<p style="font-family: 'Roboto'; font-size: 16px;">USUÁRIO OU SENHA INVÁLIDOS</p>
	    			<button onclick= window.location.href='/Login' style="margin-right: 75px">Ok</button>
	    		</div>
	    	</div>
	    </div>
    </div>
  </body>
</html>    