<html xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Lalezar|Roboto"
	rel="stylesheet">
<title>Youthquake | Cadastrar</title>
</head>
<body>
	<div class="wrapper">
		<div class="recRight">
			
		</div>
		<div class="recLeft">
			<div class="formLogin">
				<h1>Registre-se</h1>
				<br />
					<input type="text" placeholder="Insira seu Username" id="txtUser"> <input
						type="text" placeholder="Insira seu E-mail" id="txtEmail"> <input
						type="text" placeholder="Insira seu Telefone" id="txtTelefone"> <input
						type="password" placeholder="Insira sua Senha" id="txtSenha"> <input
						type="password" placeholder="Repita sua Senha" id="txtRepeatSenha">
					<button id="btnCadastrar" type="submit" value="btnCadastrar" onclick="testeRest()">Register</button>
					<p>
						Já possui uma conta? <a href="Login">Acesse agora</a>
					</p>
			</div>
		</div>
	</div>
	<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>
  

<script>

function testeRest (){
	var txtUser = document.getElementById("txtUser").value;
	var txtEmail = document.getElementById("txtEmail").value;
	var txtTelefone = document.getElementById("txtTelefone").value;
	var txtSenha = document.getElementById("txtSenha").value;

    
	var sendInfo = {
	           login: txtUser,
	           password: txtSenha,
               telephone: txtTelefone,
               email: txtEmail
	       };

$.ajax({
type: 'POST',
dataType: 'json',
headers: {
'Content-Type': 'application/json'
},
url: "http://localhost:8080/Api/IncludeUser/Include",
data: JSON.stringify(sendInfo),
success: function (response) {
    console.log(response);
},
error: function () {
    console.log("Deu errado");
}
});
}
</script>
</body>
</html>