<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="./css/style.css" />
<link href="https://fonts.googleapis.com/css?family=Lalezar|Roboto"
	rel="stylesheet" />
<title>YouthQuake | Login</title>
</head>
<body>
	<div class="wrapper">
		<div class="recRight">
			
		</div>
		<div class="recLeft">
			<div class="formLogin">
				<h1>Youthquake</h1>
				<form action="#" th:action="@{/Login}" th:object="${user}"
					method="POST">
					<input type="text" th:field="*{login}"
						placeholder="Username/E-mail" id="login" required /> <input
						type="password" th:field="*{password}" placeholder="Senha" id="senha"
						required />
					<button id="btnLogar" value="btnLogar" type="submit">Sign-in</button>
					<p class="link">
						Ainda não possui um cadastro? <a href="Cadastro">Cadastre-se
							agora</a>
					</p>
				</form>
			</div>
		</div>
	</div>	
</body>
</html>