*{
    padding: 0px;
    margin: 0px;
}

h1{
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: bold;
}

p{
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    margin-top: 17%;
    text-align: center;
}


 body{
     display: grid;
} 

input{ 
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #F4F4F4;
    display: block;
    margin-top: 25px;
    border-style: solid 1px;

    border-color: lightgray;
    width: 95%;
    font-family: 'roboto';
    font-size: 14px;
    padding: 7px;
}

label{
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    float: right;
}

.input:focus{
    outline: medium;
}

a{
    text-decoration: none;
}

button{
    border-radius: 20px;
    font-family: 'Roboto';
    background-color:#0079C2;
    border: none; 
    color: white;
    font-size: 14px;
    float: right;
    margin-top: 15px; 
    height: 35px;
    width: 75px;
    cursor: pointer;    
}

button:hover{
    background-color: #472F91;
    transition: all 0.5s;     
}

.recLeft{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 60%;
    height: 100%;
    float: right;
}

.loginDescr{
    width: 350px;
    height: auto;
    padding: 5px 5px 5px 5px;
}

.formLogin{
    position: relative;
    width: 360px;
    height: 400px;
}

.recRight {
    position: absolute;
    width: calc(100% - 40%);
    height: 100%;
    /* margin-left: 40%; */
    background-color: #472F91;
    color: white;
}

.recRight h1{
    font-family: 'Lalezar', cursive;
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}

*{
    padding: 0px;
    margin: 0px;
}

h1{
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: bold;
}

p{
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    margin-top: 17%;
    text-align: center;
}


 body{
     display: grid;
} 

input{ 
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #F4F4F4;
    display: block;
    margin-top: 25px;
    border-style: solid 1px;

    border-color: lightgray;
    width: 95%;
    font-family: 'roboto';
    font-size: 14px;
    padding: 7px;
}

label{
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    float: right;
}

.input:focus{
    outline: medium;
}

a{
    text-decoration: none;
}

button{
    border-radius: 20px;
    font-family: 'Roboto';
    background-color:#0079C2;
    border: none; 
    color: white;
    font-size: 14px;
    float: right;
    margin-top: 15px; 
    height: 35px;
    width: 75px;
    cursor: pointer;    
}

button:hover{
    background-color: #472F91;
    transition: all 0.5s;     
}

.recLeft{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 60%;
    height: 100%;
    float: right;
}

.loginDescr{
    width: 350px;
    height: auto;
    padding: 5px 5px 5px 5px;
}

.formLogin{
    position: relative;
    width: 360px;
    height: 400px;
}

.recRight {
    position: absolute;
    width: calc(100% - 40%);
    height: 100%;
    /* margin-left: 40%; */
    background-color: #472F91;
    color: white;
}

.recRight h1{
    font-family: 'Lalezar', cursive;
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}

.message-box{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    transition: width 2s;
}

.message-box {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    text-align: center;
    top: 0;
    left: 0;
    transition: width 2s;
}

img{
	width: 80px;
	height: 80px;
}

.message-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 40%;
    align-items: center;
    margin: 10vh auto;
    background-color: #fff;
    color: #292929;
    padding: 50px 0;
    border-radius: 5px;
}

.message {
    padding: 10vh 5vh;
}


