<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lalezar|Roboto" rel="stylesheet"/>
    <title>YouthQuake | Login</title>
</head>
<body>
        <div class="recRight">
                <h1>O que é YouthQuake?</h1>
                Lorem 
                ipsum
                 dolor
                  sit,
                   amet
                    consectetur adipisicing elit. At delectus recusandae ab porro, iusto, soluta perferendis consectetur, quam blanditiis molestiae atque tempore doloribus fugiat iste? Molestias aperiam distinctio nostrum optio.
            </div>
    <div class="recLeft">
        <div class="formLogin">
            <div class="loginDescr">
                <h1>Youth Quake</h1><br/>
            </div>
            <form action="#" th:action="@{/Login}" th:object="${user}" method="POST">
                <input type="text" th:field="*{login}" placeholder="Username/E-mail" id="login" />
                <input type="password" th:field="*{senha}" placeholder="Senha" id="senha" />
                <!--  <input type="submit" value="Entrar" />-->
                <button id="btnLogar" value="btnLogar" type="submit">Sign-in</button>
            </form>
            <p>Ainda não possui um cadastro? <a href="Cadastro">Cadastre-se agora</a></p>
        </div>
    </div>
    <div style="display: block;">
	    <div class="message-box" id="modal">
	    	<div class="message-wrapper">
	    		<div class="message">
	    			<h2>Title</h2>
	    			<p>Text</p>
	    			<button>Ok</button>
	    		</div>
	    	</div>
	    </div>
    </div>
</body>
</html>